<!-- cmd + shift + p -->
<!-- cmd + i (for inline copilot) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="/my_flask_app/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header-id">
        <h1 id="main-heading">Welcome!</h1>
        <img id="acc-logo" src="/my_flask_app/static/img/account.svg" alt="This is the account logo">
    </header>
    <main id="box">
        <div id=box1 class="box">
            <img id=todo-symbol src="/my_flask_app/static/img/todos_symbol.svg" alt="This is the ToDos symbol">
            <h2 id=todo-heading>ToDos</h2>
            <p id=todo-parag>This table contains records of tasks to be completed.</p>
        </div>
        <div id=box2 class="box">
            <img id=reminder-symbol src="/my_flask_app/static/img/reminder_symbol.svg" alt="This is the Reminder symbol">
            <h2 id=reminder-heading>Reminders</h2>
            <p id=reminder-parag>This table contains records of reminders for tasks.</p>
        </div>
        <div id=box3 class="box">
            <img id=upcoming-symbol src="/my_flask_app/static/img/upcoming_symbol.svg" alt="This is the Reminder symbol">
            <h2 id=upcoming-heading>Upcoming Events</h2>
            <p id=upcoming-parag>This table contains records of upcoming events.</p>
        </div>
        <script src="/my_flask_app/static/js/script.js"></script>

    </main>
    <!-- <footer>

    </footer> -->
</body>
</html>